$bg-color: #eaeaea;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

md-content{
	background-color: $bg-color;
}

img{
	width: 100%;
}

.classified-image{
	width: 100%;
	height: 150px;
	display: block;
}

button .material-icon{
	margin-top: 7px;
}

.classified-admin{
	background-color: #EAEAEA;
}

.classified.ng-enter, .classified.ng-move{
	transition: 0.4s all;
	opacity:0 ;
}

.classified.ng-enter.ng-enter-active, .classified.ng-move.ng-move-active{
	opacity: 1;
}

.classified.ng-leave{
	animation: 0.4s fadeClassified;
}

@keyframes fadeClassified{
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}