<md-card flex="30" ng-repeat="classified in classifieds | filter: classifiedsFilter | filter: categoriesFilter" class="classified">
	<md-card-content>
		<div class="classified-image" bg-img="{{ classified.image }}"></div>
		
		<div layout="row">
			<md-button ng-click="showContact = !showContact" class="md-primary">{{!showContact ? 'Contact' : 'Details'}}</md-button>
			<md-button ng-click="showAdmin = !showAdmin" class="md-warn">{{!showAdmin ? 'Admin' : 'Close' }}</md-button>
		</div>

		<div class="classified-admin" ng-if="showAdmin">
			<div layout="row">
				<md-button class="md-primary" ng-click="vm.editClassified(classified)">Edit</md-button>
				<md-button class="md-warn" ng-click="vm.deleteClassified($event, classified)">Delete</buttton>
			</div>
		</div>

		<div class="classified-info" ng-hide="showContact">
			<h2 class="md-title">{{ classified.title | uppercase }}</h2>
			<span>{{ classified.posted | date : 'longDate'}}</span>
			<h3>{{ classified.price | currency : "$ CAD " : 0 }}</h3>
			<p>{{ classified.description }}</p>
		</div>
		
		<div class="classified-contact" ng-show="showContact">
			<p><md-icon class="mdi mdi-account"></md-icon>{{ classified.contact.name }}</p>
			<p><md-icon class="mdi mdi-phone"></md-icon>{{ classified.contact.phone }}</p>
			<p><md-icon class="mdi mdi-email"></md-icon>{{ classified.contact.email }}</p>
		</div>
	</md-card-content>
</md-card>